doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
        link(rel='stylesheet', href='//unpkg.com/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css')
        script(src='//unpkg.com/jquery/dist/jquery.min.js')
        script(src='//unpkg.com/bootstrap/dist/js/bootstrap.min.js')
        script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
        script.
            hljs.initHighlightingOnLoad();
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        title purplebeen's story
        style.
            .demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button {
                /* This background is dark, so we set text to white. Use 87% black instead if
                your background is light. */
                color: white;
            }

            .mdl-textfield__input {
                width: calc(100% - 60px);
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            .main_card {
                margin: 10px;
                padding: 30px;
            }

            .comment_card {
                margin: 10px;
                padding: 20px;
            }

            body {
                background: #fafafa;
                position: relative;
            }

            .table-header div.mdl-textfield {
                width: calc(100% - 20px);
                margin-bottom: 10px;
            }

            .demo-card-wide.mdl-card {
                width: calc(100% - 20px);
                margin-left: 20px;
                margin-right: 20px
            }

            .home {
                text-decoration:none;
                color: white;
            }
            
            #title {
                color: gray;
                text-decoration: none;
            }
            #submit {
                width: 100px;
            }

            @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
            * {
                font-family: "Noto Sans KR", sans-serif;
            }
    body
        script.
            window.onload = function () {
                $("img").addClass("img-responsive");
            }
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header
                .mdl-layout__header-row
                    // Title
                    span.mdl-layout-title
                        a.home(href='/')    purplebeen's story
                    // Add spacer, to align navigation to the right
                    .mdl-layout-spacer
                    // Navigation. We hide it in small screens.
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href='/post/aboutme') About me
                        a.mdl-navigation__link(href='/post/write') Write
                        a.mdl-navigation__link(href='/user/signin') 회원가입
                        if(session.getAttribute("userid") != null)
                            a.mdl-navigation__link(href='/user/logout')  로그아웃
                        else
                            a.mdl-navigation__link(href="/user/login") 로그인
            .mdl-layout__drawer
                span.mdl-layout-title
                    a.home(href='/', id='title')    purplebeen's story
                nav.mdl-navigation
                    a.mdl-navigation__link(href='/post/aboutme') About me
                    a.mdl-navigation__link(href='/post/write') Write
                    a.mdl-navigation__link(href='/user/signin') 회원가입
                    if(session.getAttribute("userid") != null)
                        a.mdl-navigation__link(href="/user/logout") 로그아웃
                    else
                        a.mdl-navigation__link(href="/user/login") 로그인
                    for category in categoryList
                        a.mdl-navigation__link(href='/category/#{category.getName()}') #{category.getName()}
            main.mdl-layout__content
                .demo-container.mdl-grid
                    .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                    .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card
                        div
                            h1(style='float:left')  #{post.getTitle()}
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                        .demo-crumbs.mdl-color-text--grey-500
                            | posted by
                            a(href='#')  #{post.getAurthor()}
                            |  on #{post.getRegDate()} in
                            a(href='/category/#{post.getCategory().getName()}')  #{post.getCategory().getName()}
                        br
                        if(session.getAttribute("userid") != null)
                            a(href='/post/#{post.getUrl()}/delete')
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(style='float:right; margin:5px')
                                    i.material-icons delete
                            a(href='/post/#{post.getUrl()}/edit')
                                button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(style='float:right; margin:5px;')
                                    i.material-icons edit
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                        p
                            !{post.getContent()}
                    if(post.getCommentList().size() > 0)
                        for comment in post.getCommentList()
                            .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                            .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card
                                h2.mdl-card__title-text #{comment.getName()}
                                .mdl-card__supporting-text
                                    p   #{comment.getContent()}

                if(session.getAttribute("userid") != null)
                    // 댓글 입력
                    .demo-container.mdl-grid
                        .mdl-cell.mdl-cell--2-col.mdl-cell--hide-tablet.mdl-cell--hide-phone
                        .demo-content.mdl-color--white.mdl-shadow--4dp.content.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.main_card.table-header
                            h4 댓글을 입력하세요
                            form(action='/post/write/comment', method='post')
                                .mdl-textfield.mdl-js-textfield
                                    textarea#comments.mdl-textfield__input(type='text', rows='5', name='content')
                                    input(type='hidden', name='postId', value='#{post.getId()}')
                                    label.mdl-textfield__label(for='comments') 댓글을 입력하세요
                                button#submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
                                    | 보내기
